@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Rajdhani:wght@600&display=swap');

body{
    font-family: 'PT Serif', serif;
    font-family: 'Rajdhani', sans-serif;
    
    background: linear-gradient(0.25turn,rgb(47, 19, 204) , rgb(139, 225, 221), rgb(62, 152, 236));

}






